@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Via verde</title>
    <link href="~/Content/estilo/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="hero">
        <div class="row png">
            <div class="col-md-4 img_fondo1">

                <img src="~/Content/img/mano_dibujo.png" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/img/logo_via_verde.png" width="350" height="250" />
            </div>
            <div class="col-md-4 img_fondo1">
                
            </div>
        </div>
    </div>
    <h1>¿De verdad sabes como reciclar?</h1>
  
    <h4>Nuestros Amigos Activadores</h4>
    <div class="jumbo row ">
        <div class="col-md-4 contenedor">
            <a href="~/Vistauno/activador"><img class="top" src="~/Content/img/_img_cachivaches_web.png" /></a>
            <div class="over">
                <div class="text">
                    <img src="~/Content/img/cachivcahes.png" width="400" height="400" />
                </div>
            </div>
        </div>
        <div class="col-md-4 contenedor">
            <a href="~/Vistauno/activador"><img class="top" src="~/Content/img/convictus_img.png" /></a>
            <div class="over">
                <div class="text">
                    <img src="~/Content/img/convictus.png" width="400" height="400" />
                </div>
            </div>
        </div>
        <div class="col-md-4 contenedor">
            <a href="~/Vistauno/activador"><img class="top" src="~/Content/img/greenglass_web.png" /></a>
            <div class="over">
                <div class="text">
                    <img src="~/Content/img/greenglass.png" width="400" height="400" />
                </div>
            </div>
        </div>
    </div>
   
    <!-- footer -->
    <footer class="foo">
        <div class=" row">
            <div class="col-md-4 rt">
                <ul>
                    <li><a href="#">Conócenos</a></li>
                    <li><a href="#">Ingresa</a></li>
                    <li><a href="#">Fono:+569-93456667</a></li>
                    <li><a href="#">trabaja con nosotros</a></li>
                </ul>
            </div>
            <div class="col-md-4 logos">
                <ul>
                    <li><a href="http://facebook.com/"><img class="ico" src="~/Content/img/logo_face.png" /></a></li>
                    <li><a href="http://instagram.com/"><img class="ico" src="~/Content/img/logo_intagram.png" /></a></li>
                    <li><a href="http://twiter.com/"><img class="ico" src="~/Content/img/logo_twiter.png" /></a></li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <img class="img_log_vv" src="~/Content/img/logo_via_verde.png" />
            </div>
        </div>
    </footer>
</body>
</html>
